In [1]:
"""
Processes the raw bike trip data to get information on bike dock locations
and when the docks were placed in those locations.

Desired output columns:

id | first | last | name | lat | lon | rides

where
- id is the station's id
- first is the earliest trip date for the station id
- last is the latest trip date for the station id (included in case docks are removed)
- name is the station's name
- lat and lon are the latitude and longitude of the station's location
- rides is a count of the number of rides found in the data -- it is used to remove dummy stations in the data.
    only stations with more than RIDES_COUNT_THRESHOLD are included in output

This script is abstracte to apply to multiple cities.
DON'T FORGET: update the 'CITY' variable

"""
from datetime import datetime
import math
import os

import pandas as pd
from zipfile import ZipFile

CITY = 'boston'
# CITY = 'nyc'
print('city', CITY)


RIDES_COUNT_THRESHOLD = 100


def get_filepath(city):
    return '../data/' + city + '-bike/'


def transform_date(date):
    try:
        dt = datetime.strptime(date.split(' ')[0], '%m/%d/%Y')
    except ValueError:
        # this dataset is so frustrating lol
        dt = datetime.strptime(date.split(' ')[0], '%Y-%m-%d')
        
    return dt.strftime('%Y-%m-%d')

def open_zipfile(zipfilename):
    # Because someone dropped some gnarly mac osx files into their zips
    zipfile = ZipFile(zipfilename)
    filenames = [f.filename for f in zipfile.infolist()]
    # Return the first file that can be opened  - not all of them have .csv suffix
    for filename in filenames:
        try:
            df = pd.read_csv(zipfile.open(filename))
            return df
        except:
            print('failed to open filename from zip', zipfilename, ': ', filename)
            pass
    raise Exception('unable to read a csv from zipfile %s' % zipfilename)

city boston

In [2]:
"""
make a dict like 
{"id": {"name": "", "lat": "", "lon": "", "first": "", "last": ""}}
where there is one entry for each id
and where the start time is always the earliest found

and then later transform it into a dict like

{'id': [id1, id2, id3], 'col_2': ['a', 'b', 'c', 'd']}

to then make into a dataframe and save as a CSV
"""

# input file column names for indexing data with
start_station_id = 'startstationid'
start_station_name = 'startstationname'
start_station_latitude = 'startstationlatitude'
start_station_longitude = 'startstationlongitude'
starttime = 'starttime'


    
# output file column names
ID = 'id'
NAME = 'name'
LAT = 'lat'
LON = 'lon'
FIRST = 'first'
LAST = 'last'
RIDES = 'rides'

In [3]:

def preprocess_stations_df(df):
    # Because someone can't make data files with uniform column names
    df.columns = df.columns.str.replace('number', 'id')  # 'Station Number' vs Station ID
    df.columns = df.columns.str.replace('date', 'time')  # 'Start Date' vs 'Start Time'
    df.columns = map(str.lower, df.columns)
    df.columns = df.columns.str.replace('[\ ]', '')
    # transform the dates
    df[starttime] = df[starttime].apply(transform_date)
    if CITY == "boston":
        df = preprocess_boston_stations_df(df)
    return df


# Some of the earlier bostons stations data does not include lat,lon coordinates.
# These files contains the lat,lon coordinates (and other data) for station IDs
hubway_stations_locations_filenames = [
    "Hubway_Stations_as_of_July_2017.csv",
    "previous_Hubway_Stations_as_of_July_2017.csv"
]

def get_hubway_stations_locations_df():
    df = pd.DataFrame()
    filenames = [get_filepath(CITY) + fname for fname in hubway_stations_locations_filenames]
    for filename in filenames:
        new_df = pd.read_csv(filename)    
        hubway_stations_locations_column_names = {
            "Station ID": start_station_id,
            "Latitude": start_station_latitude,
            "Longitude": start_station_longitude,
        }
        # Rename the column names to match the rides data that the locations data will be joined with
        new_df.rename(columns=hubway_stations_locations_column_names, inplace=True)
        df = new_df if df.empty else df.append(new_df)
    df.drop_duplicates(subset=[start_station_id], inplace=True)
    return df

hubway_stations_locations_df = None
if CITY == "boston":
    hubway_stations_locations_df = get_hubway_stations_locations_df()


def preprocess_boston_stations_df(df):
    if start_station_latitude in df.columns:
        return df
    # Otherwise this is one of the datasets that is lacking lat, lon info.
    # Add the lat,lon info
    return hubway_stations_locations_df.merge(df, on=start_station_id)


print('hubwaystations shape', hubway_stations_locations_df.shape)
hubway_stations_locations_df.head()

hubwaystations shape (283, 7)

/Users/xuwei/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,# of Docks,Municipality,Station,publiclyExposed,startstationid,startstationlatitude,startstationlongitude
0,18,Boston,175 N Harvard St,1.0,A32019,42.363796,-71.129164
1,15,Somerville,191 Beacon St,1.0,S32035,42.380323,-71.108786
2,15,Somerville,30 Dane St.,1.0,S32023,42.381001,-71.104025
3,23,Cambridge,359 Broadway - Broadway at Fayette Street,1.0,M32026,42.370803,-71.104412
4,25,Cambridge,699 Mt Auburn St,1.0,M32054,42.375002,-71.148716

In [5]:
FILENAMES_TO_IGNORE = hubway_stations_locations_filenames + ['stations.csv'] + ['stations.json'] # + [more bad filenames here]


def stations_dict_to_df(stations_dict):
    new_dict = {
        ID: [],
        NAME: [],
        LAT: [],
        LON: [],
        FIRST: [],
        LAST: [],
        RIDES: []
    }
    for station_id, station_dict in stations_dict.items():
        new_dict[ID].append(station_id)
        new_dict[NAME].append(station_dict[NAME])
        new_dict[LAT].append(station_dict[LAT])
        new_dict[LON].append(station_dict[LON])
        new_dict[FIRST].append(station_dict[FIRST])
        new_dict[LAST].append(station_dict[LAST])
        new_dict[RIDES].append(station_dict[RIDES])
    
    return pd.DataFrame.from_dict(new_dict)
    


stations_dict = dict()

directory = get_filepath(CITY)
files_count = 0

for filename in os.listdir(directory):
    if filename in FILENAMES_TO_IGNORE:
        continue
        
    fullfilename = directory + filename
    print(files_count, ': handling file', filename)
    files_count+=1
    
    if filename.endswith(".csv"):
        stations_df = pd.read_csv(fullfilename)
    elif filename.endswith(".zip"):
        stations_df = open_zipfile(fullfilename)
    else:
        continue
    
    stations_df = preprocess_stations_df(stations_df)

    unique_station_ids = stations_df[start_station_id].unique()
    for station_id in unique_station_ids:
        station_df = stations_df[stations_df[start_station_id] == station_id]
        
        if station_id not in stations_dict:
            stations_dict[station_id] = {
                NAME: station_df[start_station_name].iloc[0], 
                LAT: station_df[start_station_latitude].iloc[0],
                LON: station_df[start_station_longitude].iloc[0], 
                FIRST: station_df[starttime].iloc[0], 
                LAST: station_df[starttime].iloc[0],
                RIDES: 0,
            }
        rides_count = len(station_df.index)
        stations_dict[station_id][RIDES] += rides_count
        station_df = station_df.sort_values(by=[starttime])
        if (station_df[starttime].iloc[0] < stations_dict[station_id][FIRST]):
            stations_dict[station_id][FIRST] = stations_df[starttime].iloc[0]
        if (station_df[starttime].iloc[-1] > stations_dict[station_id][LAST]):
            stations_dict[station_id][LAST] = stations_df[starttime].iloc[-1]


stations_df = stations_dict_to_df(stations_dict)
stations_df.head()

0 : handling file 201512-hubway-tripdata.zip
1 : handling file 201508-hubway-tripdata.zip
2 : handling file 201511-hubway-tripdata.zip
3 : handling file 201509-hubway-tripdata.zip
4 : handling file 201510-hubway-tripdata.zip
5 : handling file 201712-hubway-tripdata.zip
6 : handling file 201810-bluebikes-tripdata.zip
7 : handling file 201709-hubway-tripdata.zip
8 : handling file 201710-hubway-tripdata.zip
9 : handling file 201708-hubway-tripdata.zip
10 : handling file 201711-hubway-tripdata.zip
11 : handling file 201501-hubway-tripdata.zip
12 : handling file 201705-hubway-tripdata.zip
13 : handling file 201910-bluebikes-tripdata.zip
14 : handling file 201704-hubway-tripdata.zip
15 : handling file 201707-hubway-tripdata.zip
16 : handling file 201503-hubway-tripdata.zip
17 : handling file 201706-hubway-tripdata.zip
18 : handling file 201811-bluebikes-tripdata.zip
19 : handling file 201502-hubway-tripdata.zip
20 : handling file 201504-hubway-tripdata.zip
21 : handling file hubway_Trips_2011.csv

/Users/xuwei/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

22 : handling file 201701-hubway-tripdata.zip
23 : handling file 201812-bluebikes-tripdata.zip
24 : handling file 201505-hubway-tripdata.zip
25 : handling file .keep
26 : handling file 201506-hubway-tripdata.zip
27 : handling file 201702-hubway-tripdata.zip
28 : handling file hubway_Trips_2012.csv
29 : handling file hubway_Trips_2013.csv
30 : handling file 201507-hubway-tripdata.zip
31 : handling file 201703-hubway-tripdata.zip
32 : handling file 201803-hubway-tripdata.zip
33 : handling file 201807-bluebikes-tripdata.zip
34 : handling file 201901-bluebikes-tripdata.zip
35 : handling file 201802-hubway-tripdata.zip
36 : handling file 201801-hubway-tripdata.zip
37 : handling file 201906-bluebikes-tripdata.zip
38 : handling file .gitignore
39 : handling file 201610-hubway-tripdata.zip
40 : handling file 201609-hubway-tripdata.zip
41 : handling file hubway_Trips_2014_2.csv
42 : handling file 201809-bluebikes-tripdata.zip
43 : handling file 201611-hubway-tripdata.zip
44 : handling file 201905-bluebikes-tripdata.zip
45 : handling file 201608-hubway-tripdata.zip
46 : handling file 201612-hubway-tripdata.zip
47 : handling file 201804-hubway-tripdata.zip
48 : handling file hubway_Trips_2014_1.csv
49 : handling file 201908-bluebikes-tripdata.zip
50 : handling file 201902-bluebikes-tripdata.zip
51 : handling file 201903-bluebikes-tripdata.zip
52 : handling file 201805-bluebikes-tripdata.zip
53 : handling file 201607-hubway-tripdata.zip
54 : handling file 201909-bluebikes-tripdata.zip
55 : handling file 201606-hubway-tripdata.zip
56 : handling file 201904-bluebikes-tripdata.zip
57 : handling file 201605-hubway-tripdata.zip
58 : handling file 201808-bluebikes-tripdata.zip
59 : handling file 201604-hubway-tripdata.zip
60 : handling file 201602-hubway-tripdata.zip
61 : handling file 201907-bluebikes-tripdata.zip
62 : handling file 201603-hubway-tripdata.zip
63 : handling file 201806-bluebikes-tripdata.zip
64 : handling file 201601-hubway-tripdata.zip

,id,name,lat,lon,first,last,rides
0,9,Agganis Arena - 925 Comm Ave.,42.351246,-71.115639,2015-04-01,2019-10-31,55235
1,41,Packard's Corner - Comm. Ave. at Brighton Ave.,42.352261,-71.123831,2015-04-01,2019-10-31,52032
2,75,Lafayette Square at Mass Ave / Main St / Colum...,42.363465,-71.100573,2015-01-01,2019-10-31,66714
3,68,Central Square at Mass Ave / Essex St,42.365070,-71.103100,2015-01-01,2019-10-31,154135
4,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,2015-04-01,2019-10-31,99354

In [6]:
# Transform the stations_df

# Remove dummy stations (there are test stations in the data)
# Remove stations with less than RIDES_COUNT_THRESHOLD rides
bad_stations_df = stations_df[stations_df[RIDES] < RIDES_COUNT_THRESHOLD]
print('removing %d bad stations that each have less than %d rides from stations data' % (bad_stations_df.shape[0], RIDES_COUNT_THRESHOLD))
stations_df = stations_df[stations_df[RIDES] >= RIDES_COUNT_THRESHOLD]

removing 36 bad stations that each have less than 100 rides from stations data

In [7]:
bad_stations_df.head(10)

,id,name,lat,lon,first,last,rides
203,306,Blue Hill Ave at Southwood St (former),42.317840,-71.077960,2018-10-01,2018-10-31,17
233,257,Codman Square Library (former),42.287361,-71.071111,2018-08-01,2018-10-31,67
235,293,Bartlett St at John Elliot Sq (former),42.329463,-71.090158,2018-09-01,2018-10-31,55
241,274,Bennington St at Constitution Beach (former),42.385249,-71.010601,2018-09-01,2018-10-31,30
244,256,Washington St at Talbot Ave (former),42.290333,-71.071806,2018-08-01,2018-10-31,97
245,263,Mattapan Library (former),42.277389,-71.093250,2018-08-01,2018-10-31,67
246,246,Roslindale Village - Washington St (former),42.286153,-71.128374,2018-08-01,2018-10-31,70
247,254,Talbot Ave At Blue Hill Ave (former),42.294583,-71.087111,2018-09-01,2018-10-31,40
250,245,Blue Hill Ave at Almont St (former),42.274545,-71.093720,2018-08-01,2018-10-31,37
251,253,Thetford Ave at Norfolk St (former),42.286251,-71.079463,2018-09-01,2018-10-31,45

In [8]:
"""For the boston hubway/blue bikes data there will be duplicates because
when management changed from hubway to Bluebikes, the data fromat did too
This includes the station id/numbers and names AND lat/lon!
Task: deduplicate stations

Idea to understand data: sort the stations so the potential duplicates are next to each other
when merging/deduping data make sure to keep the earliest first and the latest last.

approach to deduplicating stations:
- normalize names and add new temporary column with normalized name
- get list of unique normalized names
- for each name:
    make a df for that name, sorted by [first, last]
    update main df to replace entries with that name with:
        first first
        last last
        last name
        rides as sum of rides
    sort main df by [name, first] and drop duplicates (duplicates on normalized name)
    remove normalized name column
"""

import re

NORMALIZED_NAME = 'normalized_name'

def normalized_station_name(name):
    normalized_name = name.lower()
    normalized_name = normalized_name.replace("former",  "").replace(" ", "")
    normalized_name = re.sub(r'[^a-z0-9]','', normalized_name)
    return normalized_name

if CITY == 'boston':
    stations_df[NORMALIZED_NAME] = stations_df[NAME].apply(normalized_station_name)
    normalized_names = stations_df[NORMALIZED_NAME]
    print(normalized_names.shape[0], ' names')
    unique_normalized_names = stations_df[NORMALIZED_NAME].unique()
    print(unique_normalized_names.shape[0], ' unique normalized names') #, unique_normalized_names)


    n = 0
    for normalized_name in unique_normalized_names:
        print(n, 'handling name', normalized_name)
        n+=1
        name_df = stations_df[stations_df[NORMALIZED_NAME] == normalized_name]
        name_df.sort_values(by=[FIRST, LAST], inplace=True)
        first = name_df[FIRST].iloc[0]
        last = name_df[LAST].iloc[-1]
        name = name_df[NAME].iloc[-1]
        rides = name_df[RIDES].sum()
        update_condition = (stations_df[NORMALIZED_NAME] == normalized_name)
        stations_df.loc[update_condition, [FIRST, LAST, NAME, RIDES]] = first, last, name, rides

    stations_dropped_duplicates_df = stations_df.drop_duplicates(subset=[NORMALIZED_NAME])
    print('dropped %s rows based on duplicate names' % (int(stations_df.shape[0]) - int(stations_dropped_duplicates_df.shape[0])))
    stations_dropped_duplicates_df.drop(labels=[NORMALIZED_NAME], axis=1, inplace=True)
    
    stations_df = stations_dropped_duplicates_df

497  names
335  unique normalized names
0 handling name agganisarena925commave
1 handling name packardscornercommaveatbrightonave
2 handling name lafayettesquareatmassavemainstcolumbiast
3 handling name centralsquareatmassaveessexst
4 handling name bostonpubliclibrary700boylstonst
5 handling name seaporthotel
6 handling name bucentral725commave
7 handling name tremontstwestst
8 handling name chinatowngateplazasurfacerdatbeachst
9 handling name harvardsquareatmassavedunster
10 handling name harvarduniversitygundhallatquincystkirklands
11 handling name christianscienceplaza
12 handling name mitatmassaveamherstst
13 handling name collegesofthefenway
14 handling name cambridgestatjoyst
15 handling name harvarduniversityhousing111westernaveatsoldiersfieldpark
16 handling name lewiswharfatlanticave
17 handling name crossstathanoverst
18 handling name statestreetatchannelcenter
19 handling name southbostonlibrary646eastbroadway
20 handling name columbusaveatmassave
21 handling name lesleyuniversity
22 handling name charlestownwarrenstatchelseast
23 handling name unionsquaresomerville
24 handling name spauldingrehabilitationhospitalcharlestownnavyyard
25 handling name harvardsquareatbrattlesteliotst
26 handling name linearparkmassaveatcameronave
27 handling name tdgardencausewayatportalpark1
28 handling name tdgardencausewayatportalpark2
29 handling name harvarduniversityradcliffequadrangleatshepardstgardenst
30 handling name charlestownmainstataustinst
31 handling name aquariumstation200atlanticave
32 handling name tremontstatberkeleyst
33 handling name westbroadwayatdorchesterst
34 handling name northeasternunorthparkinglot
35 handling name lowercambridgeportatmagazinestriversiderd
36 handling name backbaysouthendstation
37 handling name faneuilhallunionstatnorthst
38 handling name curtishallatsouthstreet
39 handling name roxburycrossingstation
40 handling name rugglesstationcolumbusave
41 handling name inkblock
42 handling name stuartstatcharlesst
43 handling name prudentialcenterbelvidere
44

/Users/xuwei/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

 handling name mayormartinjwalsh28statest
45 handling name centralsqpostofficecambridgecityhallatmassavepleasantst
46 handling name mitpacificstatpurringtonst
47 handling name binneystsixthst
48 handling name harvarduniversityhousing115putnamaveatpeabodyterrace
49 handling name boylstonstwashingtonst
50 handling name roweswharfatlanticave
51 handling name tremontstwnewtonst
52 handling name inmansquareatvellucciplazahampshirest
53 handling name onekendallsquareathampshirestportlandst
54 handling name edwardsplaygroundmainstreetedenstreet
55 handling name cambridgemainlibraryatbroadwaytrowbridgest
56 handling name davissquare
57 handling name westbroadwayatdstreet
58 handling name 359broadwaybroadwayatfayettestreet
59 handling name washingtonstatlenoxst
60 handling name eglestonsquareatcolumbusave
61 handling name landmarkcentre
62 handling name portersquarestation
63 handling name innovationlab125westernaveatbattenway
64 handling name efnorthpointpark
65 handling name harvarduniversitytransportationservices175northharvardst
66 handling name alewifestationatrussellfield
67 handling name southstation700atlanticave
68 handling name bostonconventionexhibitioncenter
69 handling name danehypark
70 handling name cambridgestatcolumbiastwebsterave
71 handling name lawnond
72 handling name jfkumassatmbtastation
73 handling name greenstt
74 handling name dorchesteraveatgillettepark
75 handling name jacksonsquaretatcentrest
76 handling name lechmerestationatcambridgestfirstst
77 handling name theesplanadebeaconstatarlingtonst
78 handling name kenmoresqcommave
79 handling name buswellstatparkdr
80 handling name longwoodavebinneyst
81 handling name onebroadwaykendallsqatmainst3rdst
82 handling name mitstatacenteratvassarstmainst
83 handling name johnffitzgeraldsurfaceroadatindiastreet
84 handling name cambridgesidegalleriacambridgesideplatlandblvd
85 handling name seaportsquareseaportblvdatbostonwharf
86 handling name harvarduniversityriverhousesatdewolfestcowperthwaitest
87 handling name harvarduniversityseascruftpiercehallsat29oxfordst
88 handling name fanpier
89 handling name unionsquarebrightonaveatcambridgest
90 handling name rindgeavenueoneilllibrary
91 handling name bunkerhillcommunitycollege
92 handling name harvardkennedyschoolatbennettsteliotst
93 handling name mtauburn
94 handling name kendallstreet
95 handling name harvardrealestatebrightonmills370westernave
96 handling name mitvassarst
97 handling name idbuildingwest
98 handling name brightoncenter
99 handling name hmshsphavelouispasteuratlongwoodave
100 handling name harvardlawschoolatmassavejarvisst
101 handling name dudleysquare
102 handling name amesstatmainst
103 handling name idbuildingeast
104 handling name umassbostonintegratedsciencescomplex
105 handling name universitypark
106 handling name wentworthinstituteoftechnology
107 handling name franklinparkzoo
108 handling name franklinparkseaverstreetathumboltave
109 handling name massaveatnewmarketsquare
110 handling name newbalance20guestst
111 handling name 18dorrancewarehouse
112 handling name charlescirclecharlesstatcambridgest
113 handling name danapark
114 handling name summerstatcutterst
115 handling name allstongreendistrictcommonwealthavegriggsst
116 handling name newburystherefordst
117 handling name beaconstatwashingtonkirkland
118 handling name jpcentercentrestreetatmyrtlestreet
119 handling name bostonmedicalcentereastconcordatharrisonave
120 handling name congresssleeper
121 handling name beaconstmassave
122 handling name boylstonstberkeleyst
123 handling name conwayparksomervilleavenue
124 handling name coolidgecornerbeaconstcentrest
125 handling name boylstonstatarlingtonst
126 handling name boylstonatfairfield
127 handling name wilsonsquare
128 handling name yawkeywayatboylstonst
129 handling name boylstonmassave
130 handling name newbalancestoreboylstonatdartmouth
131 handling name powderhousecirclenathantuftspark
132 handling name andrewstationdorchesteraveathumboldtpl
133 handling name teelesquareat239hollandst
134 handling name washingtonsquareatwashingtonstbeaconst
135 handling name brighamcirhuntingtonave
136 handling name washingtonstatrutlandst
137 handling name jfkcrossingatharvardstthorndikest
138 handling name hayessquareatvinest
139 handling name somervillehospitalathighlandavecrockerst
140 handling name bidmcbrooklineatburlingtonst
141 handling name uphamscornerramseystatdudleyst
142 handling name hydesquareatbarbarast
143 handling name postofficesquare
144 handling name franklinstarchst
145 handling name washingtonstatwalthamst
146 handling name charlesstatbeaconst
147 handling name brooklinevillagepearlstreetmbta
148 handling name somervillecityhall
149 handling name magounsquareattrumfield
150 handling name packardavepowderhouseblvd
151 handling name ecottagestatcolumbiard
152 handling name mtpleasantavedudleytowncommon
153 handling name washingtonstatbrockst
154 handling name ryanplaygrounddorchesteravenuestation
155 handling name heathstatsouthhuntington
156 handling name commonwealthaveatbabcockst
157 handling name brooklinevillagestationstreetmbtatemporarywinterlocation
158 handling name seaportblvdatsleeperst
159 handling name verizoninnovationhub10warestreet
160 handling name pierspark
161 handling name thirdatbinney
162 handling name roxburyymcawarrenstatmlkblvd
163 handling name nashuastreetatredauerbachway
164 handling name onememorialdrive
165 handling name brianpmurphystaircaseatchildstreet
166 handling name faneuilstatmarketst
167 handling name bowdoinstatquincyst
168 handling name congressstatnorthernave
169 handling name cambridgedeptofpublicworks147hampshirest
170 handling name huronaveatvassallane
171 handling name troyboston
172 handling name oaksquare615washingtonst
173 handling name sidneyresearchcampuseriestreetatwaverly
174 handling name kendallt
175 handling name chelseastatsaratogast
176 handling name purchasestatpearlst
177 handling name mlkblvdatwashingtonst
178 handling name alewifembtaatsteelplace
179 handling name benningtonstatbyronst
180 handling name savinhilltstopssydneystatbayst
181 handling name broadwaystatmtpleasantst
182 handling name museumofscience
183 handling name washingtonstatmelneacassblvd
184 handling name freshpondreservation
185 handling name orientheightststopbenningtonstatsaratogast
186 handling name watermarkseaportbostonwharfrdatseaportblvd
187 handling name grovehalllibrary41genevaave
188 handling name ncaaawalnutaveatcrawfordst
189 handling name airporttstopbremenstatbrooksst
190 handling name mavericksquarelewismall
191 handling name murphyskatingrink1880dayblvd
192 handling name theeddynewstatsumnerst
193 handling name eastbostonneighborhoodhealthcenter20mavericksquare
194 handling name columbiardatceylonst
195 handling name centralsquareeastboston
196 handling name fourcorners157washingtonst
197 handling name deerfieldstatcommonwealthave
198 handling name silberway
199 handling name stmarys
200 handling name parkplazaatcharlesst
201 handling name washingtonstategremontrd
202 handling name commonwealthaveatkeltonst
203 handling name medfordstatcharlestownbcyf
204 handling name stonybrooktstop
205 handling name mainstatbaldwinst
206 handling name centrestatseavernsave
207 handling name harvardstatgreeneroseheritagepark
208 handling name massaveathadleywalden
209 handling name glendonstatcondorst
210 handling name somervillehospital
211 handling name charlestownnavyyard
212 handling name boylstonstatjerseyst
213 handling name harvardaveatbrainerdrd
214 handling name 699mtauburnst
215 handling name communitypathatcedarstreet
216 handling name archdalerdatwashingtonst
217 handling name governmentcentercambridgestatcourtst
218 handling name commonwealthaveatchiswickrd
219 handling name rogersstlandblvd
220 handling name mainstatthompsonsq
221 handling name williamsstatwashingtonst
222 handling name fosspark
223 handling name walnutaveatwarrenst
224 handling name broadwayatcentralst
225 handling name washingtonstatmyrtlest
226 handling name eastsomervillelibrarybroadwayandillinois
227 handling name cypressstatclarkplayground
228 handling name huntingtonaveatmassart
229 handling name columbiardattierneycommunitycenter
230 handling name grovestatcommunitypath
231 handling name roslindalevillagesouthst
232 handling name onebrighamcircle
233 handling name parkstatnorwellst
234 handling name clevelandcircle
235 handling name gallivanblvdatadamsst
236 handling name farragutrdate6thst
237 handling name faneuilstatarlingtonst
238 handling name assemblysquaret
239 handling name uphamscornertstopmagnoliastatdudleyst
240 handling name broadwaytstop
241 handling name tappanstatbrooklinehillsmbta
242 handling name fieldscornertstop
243 handling name harrisonaveatbennetst
244 handling name washingtonstatbradleest
245 handling name harrisonaveatmullinsway
246 handling name tremontstatnorthamptonst
247 handling name 30danest
248 handling name 84cambridgeparkdr
249 handling name mattapantstop
250 handling name talbotaveatbluehillave
251 handling name amesstatbroadway
252 handling name ringrd
253 handling name bluehillaveatalmontst
254 handling name thetfordaveatnorfolkst
255 handling name codmansquarelibrary
256 handling name washingtonstattalbotave
257 handling name roslindalevillagewashingtonst
258 handling name bcbsquincy
259 handling name bcbshingham
260 handling name mattapanlibrary
261 handling name bartlettstatjohnelliotsq
262 handling name vassallaneattobinvlus
263 handling name benningtonstatconstitutionbeach
264 handling name mainstatbeaconst

265 handling name massaveatalbanyst
266 handling name foresthills
267 handling name marionstatharvardst
268 handling name broadwayatbeachamst
269 handling name massavetstation
270 handling name 191beaconst
271 handling name inmansquareatspringfieldst
272 handling name bostonpublicmarket
273 handling name charlesstatpinckneyst
274 handling name washingtonstatpeterspark
275 handling name tremontstatwdedhamst
276 handling name dartmouthstatnewburyst
277 handling name discoverypark30acornparkdrive
278 handling name columbusaveatwcantonst
279 handling name blossomstatcharlesst
280 handling name broadwayatlyndest
281 handling name bigpapistation
282 handling name washingtonstatgriggsrd
283 handling name perrypark
284 handling name clarendonstatnewburyst
285 handling name craigieatsummerst
286 handling name kennedylongfellowschool158springst
287 handling name mainstreetatcarterstreet
288 handling name elmstatwhitest
289 handling name sennottparkbroadwayatnorfolkstreet
290 handling name ballsq
291 handling name berkshirestreetatcambridgestreet
292 handling name somervillecityhallannex
293 handling name tremontstathamiltonpl
294 handling name 75binneyst
295 handling name washingtonstatdentonterr
296 handling name stuartstatberkeleyst
297 handling name westernaveatrichardsonst
298 handling name surfacerdatsummerst
299 handling name honanlibrary
300 handling name edgerlyeducationcenter
301 handling name bluehillaveatsouthwoodst
302 handling name dorchesteraveatkingst
303 handling name ferrystatpleasantviewave
304 handling name highstatcypressst
305 handling name albanystatebrooklinest
306 handling name northbournerdathydeparkave
307 handling name shawmuttstop
308 handling name everettsquarebroadwayatchelseast
309 handling name glendalesquareferrystatbroadway
310 handling name thedimockcenter
311 handling name jamaicastatsouthst
312 handling name 700huronave
313 handling name mortonstt
314 handling name boylstonstatexeterst
315 handling name encore
316 handling name ashmonttstop
317 handling name shawmutaveatoakstw
318 handling name sydneystatcarsonst
319 handling name normanstatkelvinst
320 handling name adamsstatlonsdalest
321 handling name belgradeaveatwalworthst
322 handling name broadwayatmaplest
323 handling name chelseastatvinest
324 handling name harvardrealestatenorthharvardstatwesternave
325 handling name longwoodaveriverway
326 handling name overlandstatbrooklineave
327 handling name brooklinevillagestationstreetmbta
328 handling name harvarduniversityriverhousesdewolfestatgrantst
329 handling name jfkumassstation
330 handling name southbayplaza
331 handling name jpmonumentsouthstatcentrest
332 handling name milkstatindiast
333 handling name dayboulevard
334 handling name newmarketsquare
dropped 162 rows based on duplicate names

/Users/xuwei/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
stations_df = stations_dropped_duplicates_df
stations_df.head(30)

,id,name,lat,lon,first,last,rides
0,9,Agganis Arena - 925 Comm Ave.,42.351246,-71.115639,2011-11-30,2019-10-31,82060
1,41,Packard's Corner - Comm. Ave. at Brighton Ave.,42.352261,-71.123831,2011-11-30,2019-10-31,75987
2,75,Lafayette Square at Mass Ave / Main St / Colum...,42.363465,-71.100573,2012-11-20,2019-10-31,108858
3,68,Central Square at Mass Ave / Essex St,42.365070,-71.103100,2012-11-20,2019-10-31,195888
4,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,2011-11-30,2019-10-31,160112
5,31,Seaport Hotel,42.348833,-71.041747,2011-11-30,2019-10-31,50120
6,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,2011-11-30,2019-10-31,78424
7,54,Tremont St / West St,42.354979,-71.063348,2011-11-30,2019-10-31,99420
8,59,Chinatown Gate Plaza - Surface Rd. at Beach St.,42.351356,-71.059367,2011-11-30,2019-10-31,67205
9,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,2012-11-20,2019-10-31,173012
10,110,Harvard University Gund Hall at Quincy St / Ki...,42.376369,-71.114025,2013-12-31,2019-10-31,61200
11,46,Christian Science Plaza,42.343864,-71.085918,2011-11-30,2019-10-31,117060
12,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,2012-11-20,2019-10-31,283303
13,3,Colleges of the Fenway,42.340021,-71.100812,2011-11-30,2019-10-31,43443
14,6,Cambridge St. at Joy St.,42.361174,-71.065142,2011-11-30,2019-10-31,113771
15,17,Harvard University Housing - 111 Western Ave. ...,42.365064,-71.119233,2011-11-30,2019-10-31,51606
16,40,Lewis Wharf - Atlantic Ave.,42.363871,-71.050877,2011-11-30,2019-10-31,100569
17,47,Cross St. at Hanover St.,42.362811,-71.056067,2011-11-30,2019-10-31,110153
18,150,State Street at Channel Center,42.344137,-71.052608,2014-12-31,2019-10-31,32051
19,119,South Boston Library - 646 East Broadway,42.335741,-71.038770,2013-12-31,2019-10-31,30030
20,57,Columbus Ave. at Mass. Ave.,42.340799,-71.081572,2011-11-30,2019-10-31,64486
21,176,Lesley University,42.386748,-71.119019,2015-11-01,2019-10-31,17540
22,98,Charlestown - Warren St at Chelsea St,42.371848,-71.060292,2012-11-20,2019-10-31,86762
23,78,Union Square - Somerville,42.379637,-71.095319,2012-11-20,2019-10-31,48857
24,85,Spaulding Rehabilitation Hospital - Charlestow...,42.378338,-71.048927,2012-11-20,2019-10-31,37057
25,73,Harvard Square at Brattle St / Eliot St,42.373231,-71.120886,2012-11-20,2019-10-31,79472
26,118,Linear Park - Mass. Ave. at Cameron Ave.,42.397828,-71.130516,2013-12-31,2019-10-31,36861
27,109,TD Garden - Causeway at Portal Park #1,42.365942,-71.060515,2012-11-20,2019-10-31,86077
28,38,TD Garden - Causeway at Portal Park #2,42.366222,-71.059914,2011-11-30,2016-09-30,66136
29,104,Harvard University Radcliffe Quadrangle at She...,42.380287,-71.125107,2012-11-20,2019-10-31,43916

In [10]:
# Save the data to CSV
save_to_csvfilename = directory + 'stations.csv'
stations_df.to_csv(save_to_csvfilename)
print('wrote data to ', save_to_csvfilename)

wrote data to  ../data/boston-bike/stations.csv

In [11]:
# Save the data to JSON that will be used in web app
import json

stations = []
for index, row in stations_df.iterrows():
    # Transform the date
    date = row[5]
    
    stations.append({
        ID: str(row[ID]),
        NAME: row[NAME],
        LAT: row[LAT],
        LON: row[LON],
        FIRST: transform_date(row[FIRST]),
        LAST: transform_date(row[LAST]),
    })

json = json.dumps(stations)

save_to_jsonfilename = directory + 'stations.json'
with open(save_to_jsonfilename, 'w') as f:
    f.write(json)
print("Data written to stations.json")

Data written to stations.json

In [69]:
stations_df.head()

,id,name,lat,lon,first,last,rides
111,1,18 Dorrance Warehouse,42.387151,-71.075978,2015-03-01,2019-07-31,578
378,378,191 Beacon St,42.380323,-71.108786,2018-12-06,2019-07-31,3237
263,330,30 Dane St.,42.381001,-71.104025,2018-10-23,2019-07-31,5153
259,286,30 Dane St. (former),42.381123,-71.104100,2018-10-12,2018-10-31,170
425,M32026,359 Broadway - Broadway at Fayette Street,42.370803,-71.104412,2013-12-31,2014-07-01,13424