In [7]:
"""
Processes the raw bike trip data to get information on bike dock locations
and when the docks were placed in those locations.

Desired output columns:

id | first | last | name | lat | lon | rides

where
- id is the station's id
- first is the earliest trip date for the station id
- last is the latest trip date for the station id (included in case docks are removed)
- name is the station's name
- lat and lon are the latitude and longitude of the station's location
- rides is a count of the number of rides found in the data -- it is used to remove dummy stations in the data.
    only stations with more than RIDES_COUNT_THRESHOLD are included in output

This script is abstracte to apply to multiple cities.
DON'T FORGET: update the 'CITY' variable

"""
from datetime import datetime
import math
import os

import pandas as pd
from zipfile import ZipFile

CITY = 'boston'
# CITY = 'nyc'
print('city', CITY)


RIDES_COUNT_THRESHOLD = 100


def get_filepath(city):
    return '../data/' + city + '-bike/'


def transform_date(date):
    try:
        dt = datetime.strptime(date.split(' ')[0], '%m/%d/%Y')
    except ValueError:
        # this dataset is so frustrating lol
        dt = datetime.strptime(date.split(' ')[0], '%Y-%m-%d')
        
    return dt.strftime('%Y-%m-%d')

def open_zipfile(zipfilename):
    # Because someone dropped some gnarly mac osx files into their zips
    zipfile = ZipFile(zipfilename)
    filenames = [f.filename for f in zipfile.infolist()]
    # Return the first file that can be opened  - not all of them have .csv suffix
    for filename in filenames:
        try:
            df = pd.read_csv(zipfile.open(filename))
            return df
        except:
            print('failed to open filename from zip', zipfilename, ': ', filename)
            pass
    raise Exception('unable to read a csv from zipfile %s' % zipfilename)

city boston

In [8]:
"""
make a dict like 
{"id": {"name": "", "lat": "", "lon": "", "first": "", "last": ""}}
where there is one entry for each id
and where the start time is always the earliest found

and then later transform it into a dict like

{'id': [id1, id2, id3], 'col_2': ['a', 'b', 'c', 'd']}

to then make into a dataframe and save as a CSV
"""

# input file column names for indexing data with
start_station_id = 'startstationid'
start_station_name = 'startstationname'
start_station_latitude = 'startstationlatitude'
start_station_longitude = 'startstationlongitude'
starttime = 'starttime'


    
# output file column names
ID = 'id'
NAME = 'name'
LAT = 'lat'
LON = 'lon'
FIRST = 'first'
LAST = 'last'
RIDES = 'rides'

In [48]:

def preprocess_stations_df(df):
    # Because someone can't make data files with uniform column names
    df.columns = df.columns.str.replace('number', 'id')  # 'Station Number' vs Station ID
    df.columns = df.columns.str.replace('date', 'time')  # 'Start Date' vs 'Start Time'
    df.columns = map(str.lower, df.columns)
    df.columns = df.columns.str.replace('[\ ]', '')
    # transform the dates
    df[starttime] = df[starttime].apply(transform_date)
    if CITY == "boston":
        df = preprocess_boston_stations_df(df)
    return df


# Some of the earlier bostons stations data does not include lat,lon coordinates.
# These files contains the lat,lon coordinates (and other data) for station IDs
hubway_stations_locations_filenames = [
    "Hubway_Stations_as_of_July_2017.csv",
    "previous_Hubway_Stations_as_of_July_2017.csv"
]

def get_hubway_stations_locations_df():
    df = pd.DataFrame()
    filenames = [get_filepath(CITY) + fname for fname in hubway_stations_locations_filenames]
    for filename in filenames:
        new_df = pd.read_csv(filename)    
        hubway_stations_locations_column_names = {
            "Station ID": start_station_id,
            "Latitude": start_station_latitude,
            "Longitude": start_station_longitude,
        }
        # Rename the column names to match the rides data that the locations data will be joined with
        new_df.rename(columns=hubway_stations_locations_column_names, inplace=True)
        df = new_df if df.empty else df.append(new_df)
    df.drop_duplicates(subset=[start_station_id], inplace=True)
    return df

hubway_stations_locations_df = None
if CITY == "boston":
    hubway_stations_locations_df = get_hubway_stations_locations_df()


def preprocess_boston_stations_df(df):
    if start_station_latitude in df.columns:
        return df
    # Otherwise this is one of the datasets that is lacking lat, lon info.
    # Add the lat,lon info
    return hubway_stations_locations_df.merge(df, on=start_station_id)


print('hubwaystations shape', hubway_stations_locations_df.shape)
hubway_stations_locations_df.head()

hubwaystations shape (283, 7)

,# of Docks,Municipality,Station,publiclyExposed,startstationid,startstationlatitude,startstationlongitude
0,18,Boston,175 N Harvard St,1.0,A32019,42.363796,-71.129164
1,15,Somerville,191 Beacon St,1.0,S32035,42.380323,-71.108786
2,15,Somerville,30 Dane St.,1.0,S32023,42.381001,-71.104025
3,23,Cambridge,359 Broadway - Broadway at Fayette Street,1.0,M32026,42.370803,-71.104412
4,25,Cambridge,699 Mt Auburn St,1.0,M32054,42.375002,-71.148716

In [53]:
FILENAMES_TO_IGNORE = hubway_stations_locations_filenames  # + [more bad filenames here]


def stations_dict_to_df(stations_dict):
    new_dict = {
        ID: [],
        NAME: [],
        LAT: [],
        LON: [],
        FIRST: [],
        LAST: [],
        RIDES: []
    }
    for station_id, station_dict in stations_dict.items():
        new_dict[ID].append(station_id)
        new_dict[NAME].append(station_dict[NAME])
        new_dict[LAT].append(station_dict[LAT])
        new_dict[LON].append(station_dict[LON])
        new_dict[FIRST].append(station_dict[FIRST])
        new_dict[LAST].append(station_dict[LAST])
        new_dict[RIDES].append(station_dict[RIDES])
    
    return pd.DataFrame.from_dict(new_dict)
    


stations_dict = dict()

directory = get_filepath(CITY)

for filename in os.listdir(directory):
    if filename in FILENAMES_TO_IGNORE:
        continue
        
    fullfilename = directory + filename
    print(files_count, ': handling file', filename)
    
    if filename.endswith(".csv"):
        stations_df = pd.read_csv(fullfilename)
    elif filename.endswith(".zip"):
        stations_df = open_zipfile(fullfilename)
    else:
        continue
    
    stations_df = preprocess_stations_df(stations_df)

    unique_station_ids = stations_df[start_station_id].unique()
    for station_id in unique_station_ids:
        station_df = stations_df[stations_df[start_station_id] == station_id]
        
        if station_id not in stations_dict:
            stations_dict[station_id] = {
                NAME: station_df[start_station_name].iloc[0], 
                LAT: station_df[start_station_latitude].iloc[0],
                LON: station_df[start_station_longitude].iloc[0], 
                FIRST: station_df[starttime].iloc[0], 
                LAST: station_df[starttime].iloc[0],
                RIDES: 0,
            }
        rides_count = len(station_df.index)
        stations_dict[station_id][RIDES] += rides_count
        station_df = station_df.sort_values(by=[starttime])
        if (station_df[starttime].iloc[0] < stations_dict[station_id][FIRST]):
            stations_dict[station_id][FIRST] = stations_df[starttime].iloc[0]
        if (station_df[starttime].iloc[-1] > stations_dict[station_id][LAST]):
            stations_dict[station_id][LAST] = stations_df[starttime].iloc[-1]


stations_df = stations_dict_to_df(stations_dict)
stations_df.head()

0 : handling file 201512-hubway-tripdata.zip
preprocess_boston_stations_df
1 : handling file 201508-hubway-tripdata.zip
preprocess_boston_stations_df
2 : handling file 201511-hubway-tripdata.zip
preprocess_boston_stations_df
3 : handling file 201509-hubway-tripdata.zip
preprocess_boston_stations_df
4 : handling file 201510-hubway-tripdata.zip
preprocess_boston_stations_df
5 : handling file 201712-hubway-tripdata.zip
preprocess_boston_stations_df
6 : handling file 201810-bluebikes-tripdata.zip
preprocess_boston_stations_df
7 : handling file .DS_Store
7 : handling file 201709-hubway-tripdata.zip
preprocess_boston_stations_df
8 : handling file 201710-hubway-tripdata.zip
preprocess_boston_stations_df
9 : handling file 201708-hubway-tripdata.zip
preprocess_boston_stations_df
10 : handling file 201711-hubway-tripdata.zip
preprocess_boston_stations_df
11 : handling file 201501-hubway-tripdata.zip
preprocess_boston_stations_df
12 : handling file 201705-hubway-tripdata.zip
preprocess_boston_stations_df
13 : handling file 201704-hubway-tripdata.zip
preprocess_boston_stations_df
14 : handling file 201707-hubway-tripdata.zip
preprocess_boston_stations_df
15 : handling file 201503-hubway-tripdata.zip
preprocess_boston_stations_df
16 : handling file 201706-hubway-tripdata.zip
preprocess_boston_stations_df
17 : handling file 201811-bluebikes-tripdata.zip
preprocess_boston_stations_df
18 : handling file 201502-hubway-tripdata.zip
preprocess_boston_stations_df
19 : handling file 201504-hubway-tripdata.zip
preprocess_boston_stations_df
20 : handling file hubway_Trips_2011.csv
preprocess_boston_stations_df
merging df
21 : handling file 201701-hubway-tripdata.zip
preprocess_boston_stations_df
22 : handling file 201812-bluebikes-tripdata.zip
preprocess_boston_stations_df
23 : handling file 201505-hubway-tripdata.zip
preprocess_boston_stations_df
24 : handling file 201506-hubway-tripdata.zip
preprocess_boston_stations_df
25 : handling file 201702-hubway-tripdata.zip
preprocess_boston_stations_df
26 : handling file hubway_Trips_2012.csv
preprocess_boston_stations_df
merging df
27 : handling file hubway_Trips_2013.csv
preprocess_boston_stations_df
merging df
28 : handling file 201507-hubway-tripdata.zip
preprocess_boston_stations_df
29 : handling file 201703-hubway-tripdata.zip
preprocess_boston_stations_df
30 : handling file 201803-hubway-tripdata.zip
preprocess_boston_stations_df
31 : handling file 201807-bluebikes-tripdata.zip
preprocess_boston_stations_df
32 : handling file 201901-bluebikes-tripdata.zip
preprocess_boston_stations_df
33 : handling file 201802-hubway-tripdata.zip
preprocess_boston_stations_df
34 : handling file 201801-hubway-tripdata.zip
preprocess_boston_stations_df
35 : handling file 201906-bluebikes-tripdata.zip
preprocess_boston_stations_df
36 : handling file .gitignore
36 : handling file 201610-hubway-tripdata.zip
preprocess_boston_stations_df
37 : handling file 201609-hubway-tripdata.zip
preprocess_boston_stations_df
38 : handling file hubway_Trips_2014_2.csv
preprocess_boston_stations_df
merging df
39 : handling file 201809-bluebikes-tripdata.zip
preprocess_boston_stations_df
40 : handling file 201611-hubway-tripdata.zip
preprocess_boston_stations_df
41 : handling file 201905-bluebikes-tripdata.zip
preprocess_boston_stations_df
42 : handling file 201608-hubway-tripdata.zip
preprocess_boston_stations_df
43 : handling file 201612-hubway-tripdata.zip
preprocess_boston_stations_df
44 : handling file 201804-hubway-tripdata.zip
preprocess_boston_stations_df
45 : handling file hubway_Trips_2014_1.csv
preprocess_boston_stations_df
merging df
46 : handling file 201902-bluebikes-tripdata.zip
preprocess_boston_stations_df
47 : handling file 201903-bluebikes-tripdata.zip
preprocess_boston_stations_df
48 : handling file 201805-bluebikes-tripdata.zip
preprocess_boston_stations_df
49 : handling file 201607-hubway-tripdata.zip
preprocess_boston_stations_df
50 : handling file 201606-hubway-tripdata.zip
preprocess_boston_stations_df
51 : handling file 201904-bluebikes-tripdata.zip
preprocess_boston_stations_df
52 : handling file 201605-hubway-tripdata.zip
preprocess_boston_stations_df
53 : handling file 201808-bluebikes-tripdata.zip
preprocess_boston_stations_df
54 : handling file 201604-hubway-tripdata.zip
preprocess_boston_stations_df
55 : handling file 201602-hubway-tripdata.zip
preprocess_boston_stations_df
56 : handling file 201907-bluebikes-tripdata.zip
preprocess_boston_stations_df
57 : handling file 201603-hubway-tripdata.zip
preprocess_boston_stations_df
58 : handling file 201806-bluebikes-tripdata.zip
preprocess_boston_stations_df
59 : handling file 201601-hubway-tripdata.zip
preprocess_boston_stations_df

,id,name,lat,lon,first,last,rides
0,9,Agganis Arena - 925 Comm Ave.,42.351246,-71.115639,2015-04-01,2019-07-31,46389
1,41,Packard's Corner - Comm. Ave. at Brighton Ave.,42.352261,-71.123831,2015-04-01,2019-07-31,44520
2,75,Lafayette Square at Mass Ave / Main St / Colum...,42.363465,-71.100573,2015-01-01,2019-07-31,61988
3,68,Central Square at Mass Ave / Essex St,42.365070,-71.103100,2015-01-01,2019-07-31,134736
4,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,2015-04-01,2019-07-31,92076

In [54]:
# Transform the stations_df

# Remove dummy stations (there are test stations in the data)
# Remove stations with less than RIDES_COUNT_THRESHOLD rides
bad_stations_df = stations_df[stations_df[RIDES] < RIDES_COUNT_THRESHOLD]
print('removing %d bad stations that each have less than %d rides from stations data' % (bad_stations_df.shape[0], RIDES_COUNT_THRESHOLD))
stations_df = stations_df[stations_df[RIDES] >= RIDES_COUNT_THRESHOLD]

removing 36 bad stations that each have less than 100 rides from stations data

In [55]:
bad_stations_df.head(10)

,id,name,lat,lon,first,last,rides
203,306,Blue Hill Ave at Southwood St (former),42.317840,-71.077960,2018-10-01,2018-10-31,17
233,257,Codman Square Library (former),42.287361,-71.071111,2018-08-01,2018-10-31,67
235,293,Bartlett St at John Elliot Sq (former),42.329463,-71.090158,2018-09-01,2018-10-31,55
241,274,Bennington St at Constitution Beach (former),42.385249,-71.010601,2018-09-01,2018-10-31,30
244,256,Washington St at Talbot Ave (former),42.290333,-71.071806,2018-08-01,2018-10-31,97
245,263,Mattapan Library (former),42.277389,-71.093250,2018-08-01,2018-10-31,67
246,246,Roslindale Village - Washington St (former),42.286153,-71.128374,2018-08-01,2018-10-31,70
247,254,Talbot Ave At Blue Hill Ave (former),42.294583,-71.087111,2018-09-01,2018-10-31,40
250,245,Blue Hill Ave at Almont St (former),42.274545,-71.093720,2018-08-01,2018-10-31,37
251,253,Thetford Ave at Norfolk St (former),42.286251,-71.079463,2018-09-01,2018-10-31,45

In [114]:
"""For the boston hubway/blue bikes data there will be duplicates because
when management changed from hubway to Bluebikes, the data fromat did too
This includes the station id/numbers and names AND lat/lon!
Task: deduplicate stations

Idea to understand data: sort the stations so the potential duplicates are next to each other
when merging/deduping data make sure to keep the earliest first and the latest last.

approach to deduplicating stations:
- normalize names and add new temporary column with normalized name
- get list of unique normalized names
- for each name:
    make a df for that name, sorted by [first, last]
    update main df to replace entries with that name with:
        first first
        last last
        last name
        rides as sum of rides
    sort main df by [name, first] and drop duplicates (duplicates on normalized name)
    remove normalized name column
"""

import re

NORMALIZED_NAME = 'normalized_name'

def normalized_station_name(name):
    normalized_name = name.lower()
    normalized_name = normalized_name.replace("former",  "").replace(" ", "")
    normalized_name = re.sub(r'[^a-z0-9]','', normalized_name)
    return normalized_name

if CITY == 'boston':
    stations_df[NORMALIZED_NAME] = stations_df[NAME].apply(normalized_station_name)
    normalized_names = stations_df[NORMALIZED_NAME]
    print(normalized_names.shape[0], ' names')
    unique_normalized_names = stations_df[NORMALIZED_NAME].unique()
    print(unique_normalized_names.shape[0], ' unique normalized names') #, unique_normalized_names)


    n = 0
    for normalized_name in unique_normalized_names:
        print(n, 'handling name', normalized_name)
        n+=1
        name_df = stations_df[stations_df[NORMALIZED_NAME] == normalized_name]
        name_df.sort_values(by=[FIRST, LAST], inplace=True)
        first = name_df[FIRST].iloc[0]
        last = name_df[LAST].iloc[-1]
        name = name_df[NAME].iloc[-1]
        rides = name_df[RIDES].sum()
        update_condition = (stations_df[NORMALIZED_NAME] == normalized_name)
        stations_df.loc[update_condition, [FIRST, LAST, NAME, RIDES]] = first, last, name, rides

    stations_dropped_duplicates_df = stations_df.drop_duplicates(subset=[NORMALIZED_NAME])
    print('dropped %s rows based on duplicate names' % (int(stations_df.shape[0]) - int(stations_dropped_duplicates_df.shape[0])))
    stations_dropped_duplicates_df.drop(labels=[NORMALIZED_NAME], axis=1, inplace=True)
    
    stations_df = stations_dropped_duplicates_df

465  names
304  unique normalized names
0 handling name 18dorrancewarehouse
1 handling name 191beaconst
2 handling name 30danest
3

/Users/aberke/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

 handling name 359broadwaybroadwayatfayettestreet
4 handling name 699mtauburnst
5 handling name 700huronave
6 handling name 75binneyst
7 handling name 84cambridgeparkdr
8 handling name agganisarena925commave
9 handling name airporttstopbremenstatbrooksst
10 handling name albanystatebrooklinest
11 handling name alewifembtaatsteelplace
12 handling name alewifestationatrussellfield
13 handling name allstongreendistrictcommonwealthavegriggsst
14 handling name amesstatbroadway
15 handling name amesstatmainst
16 handling name andrewstationdorchesteraveathumboldtpl
17 handling name aquariumstation200atlanticave
18 handling name archdalerdatwashingtonst
19 handling name assemblysquaret
20 handling name bucentral725commave
21 handling name bcbshingham
22 handling name bcbsquincy
23 handling name bidmcbrooklineatburlingtonst
24 handling name backbaysouthendstation
25 handling name ballsq
26 handling name bartlettstatjohnelliotsq
27 handling name beaconstmassave
28 handling name beaconstatwashingtonkirkland
29 handling name belgradeaveatwalworthst
30 handling name benningtonstatbyronst
31 handling name benningtonstatconstitutionbeach
32 handling name bigpapistation
33 handling name binneystsixthst
34 handling name bluehillaveatsouthwoodst
35 handling name bostonconventionexhibitioncenter
36 handling name bostonmedicalcentereastconcordatharrisonave
37 handling name bostonpubliclibrary700boylstonst
38 handling name bostonpublicmarket
39 handling name bowdoinstatquincyst
40 handling name boylstonmassave
41 handling name boylstonstberkeleyst
42 handling name boylstonstwashingtonst
43 handling name boylstonstatexeterst
44 handling name boylstonstatjerseyst
45 handling name boylstonstatarlingtonst
46 handling name boylstonatfairfield
47 handling name brianpmurphystaircaseatchildstreet
48 handling name brighamcirhuntingtonave
49 handling name brightoncenter
50 handling name broadwaystatmtpleasantst
51 handling name broadwaytstop
52 handling name broadwayatbeachamst
53 handling name broadwayatcentralst
54 handling name broadwayatlyndest
55 handling name brooklinevillagepearlstreetmbta
56 handling name brooklinevillagestationstreetmbta
57 handling name brooklinevillagestationstreetmbtatemporarywinterlocation
58 handling name bunkerhillcommunitycollege
59 handling name buswellstatparkdr
60 handling name cambridgedeptofpublicworks147hampshirest
61 handling name cambridgemainlibraryatbroadwaytrowbridgest
62 handling name cambridgestatcolumbiastwebsterave
63 handling name cambridgestatjoyst
64 handling name cambridgesidegalleriacambridgesideplatlandblvd
65 handling name centralsqpostofficecambridgecityhallatmassavepleasantst
66 handling name centralsquareeastboston
67 handling name centralsquareatmassaveessexst
68 handling name centrestatseavernsave
69 handling name charlescirclecharlesstatcambridgest
70 handling name charlesstatbeaconst
71 handling name charlestownmainstataustinst
72 handling name charlestownwarrenstatchelseast
73 handling name charlestownnavyyard
74 handling name chelseastatsaratogast
75 handling name chinatowngateplazasurfacerdatbeachst
76 handling name christianscienceplaza
77 handling name clarendonstatnewburyst
78 handling name clevelandcircle
79 handling name codmansquarelibrary
80 handling name collegesofthefenway
81 handling name columbiardatceylonst
82 handling name columbiardattierneycommunitycenter
83 handling name columbusaveatmassave
84 handling name commonwealthaveatbabcockst
85 handling name commonwealthaveatchiswickrd
86 handling name commonwealthaveatkeltonst
87 handling name communitypathatcedarstreet
88 handling name congresssleeper
89 handling name congressstatnorthernave
90 handling name conwayparksomervilleavenue
91 handling name coolidgecornerbeaconstcentrest
92 handling name crossstathanoverst
93 handling name curtishallatsouthstreet
94 handling name cypressstatclarkplayground
95 handling name danapark
96 handling name danehypark
97 handling name dartmouthstatnewburyst
98 handling name davissquare
99 handling name dayboulevard
100 handling name deerfieldstatcommonwealthave
101 handling name dorchesteraveatgillettepark
102 handling name dudleysquare
103 handling name ecottagestatcolumbiard
104 handling name efnorthpointpark
105 handling name eastbostonneighborhoodhealthcenter20mavericksquare
106 handling name eastsomervillelibrarybroadwayandillinois
107 handling name edwardsplaygroundmainstreetedenstreet
108 handling name eglestonsquareatcolumbusave
109 handling name elmstatwhitest
110 handling name encore
111 handling name everettsquarebroadwayatchelseast
112 handling name fanpier
113 handling name faneuilhallunionstatnorthst
114 handling name faneuilstatarlingtonst
115 handling name faneuilstatmarketst
116 handling name farragutrdate6thst
117 handling name fieldscornertstop
118 handling name foresthills
119 handling name fosspark
120 handling name fourcorners157washingtonst
121 handling name franklinparkseaverstreetathumboltave
122 handling name franklinparkzoo
123 handling name franklinstarchst
124 handling name freshpondreservation
125 handling name gallivanblvdatadamsst
126 handling name glendonstatcondorst
127 handling name governmentcentercambridgestatcourtst
128 handling name greenstt
129 handling name grovehalllibrary41genevaave
130 handling name grovestatcommunitypath
131 handling name hmshsphavelouispasteuratlongwoodave
132 handling name harrisonaveatbennetst
133 handling name harrisonaveatmullinsway
134 handling name harvardaveatbrainerdrd
135 handling name harvardkennedyschoolatbennettsteliotst
136 handling name harvardlawschoolatmassavejarvisst
137 handling name harvardrealestatebrightonmills370westernave
138 handling name harvardrealestatenorthharvardstatwesternave
139 handling name harvardsquareatbrattlesteliotst
140 handling name harvardsquareatmassavedunster
141 handling name harvardstatgreeneroseheritagepark
142 handling name harvarduniversityseascruftpiercehallsat29oxfordst
143 handling name harvarduniversitygundhallatquincystkirklands
144 handling name harvarduniversityhousing111westernaveatsoldiersfieldpark
145 handling name harvarduniversityhousing115putnamaveatpeabodyterrace
146 handling name harvarduniversityradcliffequadrangleatshepardstgardenst
147 handling name harvarduniversityriverhousesdewolfestatgrantst
148 handling name harvarduniversityriverhousesatdewolfestcowperthwaitest
149 handling name harvarduniversitytransportationservices175northharvardst
150 handling name hayessquareatvinest
151 handling name heathstatsouthhuntington
152 handling name honanlibrary
153 handling name huntingtonaveatmassart
154 handling name huronaveatvassallane
155 handling name hydesquareatbarbarast
156 handling name idbuildingeast
157 handling name idbuildingwest
158 handling name inkblock
159 handling name inmansquareatspringfieldst
160 handling name inmansquareatvellucciplazahampshirest
161 handling name innovationlab125westernaveatbattenway
162 handling name jfkumassstation
163 handling name jfkumassatmbtastation
164 handling name jfkcrossingatharvardstthorndikest
165 handling name jpcentercentrestreetatmyrtlestreet
166 handling name jpmonumentsouthstatcentrest
167 handling name jacksonsquaretatcentrest
168 handling name johnffitzgeraldsurfaceroadatindiastreet
169 handling name kendallstreet
170 handling name kendallt
171 handling name kenmoresqcommave
172 handling name lafayettesquareatmassavemainstcolumbiast
173 handling name landmarkcentre
174 handling name lawnond
175 handling name lechmerestationatcambridgestfirstst
176 handling name lesleyuniversity
177 handling name lewiswharfatlanticave
178 handling name linearparkmassaveatcameronave
179 handling name longwoodavebinneyst
180 handling name longwoodaveriverway
181 handling name lowercambridgeportatmagazinestriversiderd
182 handling name mitpacificstatpurringtonst
183 handling name mitstatacenteratvassarstmainst
184 handling name mitvassarst
185 handling name mitatmassaveamherstst
186 handling name mlkblvdatwashingtonst
187 handling name magounsquareattrumfield
188 handling name mainstatbaldwinst
189 handling name mainstatbeaconst
190 handling name mainstatthompsonsq
191 handling name mainstreetatcarterstreet
192 handling name marionstatharvardst
193 handling name massavetstation
194 handling name massaveatalbanyst
195 handling name massaveathadleywalden
196 handling name massaveatnewmarketsquare
197 handling name mattapantstop

198 handling name mavericksquarelewismall
199 handling name mayormartinjwalsh28statest
200 handling name medfordstatcharlestownbcyf
201 handling name milkstatindiast
202 handling name mtauburn
203 handling name mtpleasantavedudleytowncommon
204 handling name murphyskatingrink1880dayblvd
205 handling name museumofscience
206 handling name ncaaawalnutaveatcrawfordst
207 handling name nashuastreetatredauerbachway
208 handling name newbalance20guestst
209 handling name newbalancestoreboylstonatdartmouth
210 handling name newburystherefordst
211 handling name newmarketsquare
212 handling name normanstatkelvinst
213 handling name northeasternunorthparkinglot
214 handling name oaksquare615washingtonst
215 handling name onebrighamcircle
216 handling name onebroadwaykendallsqatmainst3rdst
217 handling name onekendallsquareathampshirestportlandst
218 handling name onememorialdrive
219 handling name orientheightststopbenningtonstatsaratogast
220 handling name overlandstatbrooklineave
221 handling name packardavepowderhouseblvd
222 handling name packardscornercommaveatbrightonave
223 handling name parkplazaatcharlesst
224 handling name parkstatnorwellst
225 handling name perrypark
226 handling name pierspark
227 handling name portersquarestation
228 handling name postofficesquare
229 handling name powderhousecirclenathantuftspark
230 handling name prudentialcenterbelvidere
231 handling name purchasestatpearlst
232 handling name rindgeavenueoneilllibrary
233 handling name ringrd
234 handling name rogersstlandblvd
235 handling name roslindalevillagesouthst
236 handling name roslindalevillagewashingtonst
237 handling name roweswharfatlanticave
238 handling name roxburycrossingstation
239 handling name roxburyymcawarrenstatmlkblvd
240 handling name rugglesstationcolumbusave
241 handling name ryanplaygrounddorchesteravenuestation
242 handling name savinhilltstopssydneystatbayst
243 handling name seaportblvdatsleeperst
244 handling name seaporthotel
245 handling name seaportsquareseaportblvdatbostonwharf
246 handling name sennottparkbroadwayatnorfolkstreet
247 handling name shawmutattremontst
248 handling name sidneyresearchcampuseriestreetatwaverly
249 handling name silberway
250 handling name somervillecityhall
251 handling name somervillehospital
252 handling name somervillehospitalathighlandavecrockerst
253 handling name southbayplaza
254 handling name southbostonlibrary646eastbroadway
255 handling name southstation700atlanticave
256 handling name spauldingrehabilitationhospitalcharlestownnavyyard
257 handling name stmarys
258 handling name statestreetatchannelcenter
259 handling name stonybrooktstop
260 handling name stuartstatcharlesst
261 handling name summerstatcutterst
262 handling name tdgardencausewayatportalpark1
263 handling name tdgardencausewayatportalpark2
264 handling name talbotaveatbluehillave
265 handling name tappanstatbrooklinehillsmbta
266 handling name teelesquareat239hollandst
267 handling name theeddynewstatsumnerst
268 handling name theesplanadebeaconstatarlingtonst
269 handling name thirdatbinney
270 handling name tremontstwnewtonst
271 handling name tremontstwestst
272 handling name tremontstathamiltonplace
273 handling name tremontstatnorthamptonst
274 handling name tremontstatwdedhamst
275 handling name tremontstatberkeleyst
276 handling name troyboston
277 handling name umassbostonintegratedsciencescomplex
278 handling name unionsquarebrightonaveatcambridgest
279 handling name unionsquaresomerville
280 handling name universitypark
281 handling name uphamscornerramseystatdudleyst
282 handling name uphamscornertstopmagnoliastatdudleyst
283 handling name vassallaneattobinvlus
284 handling name verizoninnovationhub10warestreet
285 handling name walnutaveatwarrenst
286 handling name washingtonsquareatwashingtonstbeaconst
287 handling name washingtonstatbradleest
288 handling name washingtonstatbrockst
289 handling name washingtonstategremontrd
290 handling name washingtonstatgriggsrd
291 handling name washingtonstatmelneacassblvd
292 handling name washingtonstatmyrtlest
293 handling name washingtonstattalbotave
294 handling name washingtonstatlenoxst
295 handling name washingtonstatrutlandst
296 handling name washingtonstatwalthamst
297 handling name watermarkseaportbostonwharfrdatseaportblvd
298 handling name wentworthinstituteoftechnology
299 handling name westbroadwayatdstreet
300 handling name westbroadwayatdorchesterst
301 handling name williamsstatwashingtonst
302 handling name wilsonsquare
303 handling name yawkeywayatboylstonst
dropped 161 rows based on duplicate names

,id,name,lat,lon,first,last,rides
111,1,18 Dorrance Warehouse,42.387151,-71.075978,2015-03-01,2019-07-31,578
378,378,191 Beacon St,42.380323,-71.108786,2018-12-06,2019-07-31,3237
263,330,30 Dane St.,42.381001,-71.104025,2018-10-12,2019-07-31,5323
425,M32026,359 Broadway - Broadway at Fayette Street,42.370803,-71.104412,2013-12-31,2019-07-31,61378
266,333,699 Mt Auburn St,42.375002,-71.148716,2018-08-01,2019-07-31,3257

In [117]:
stations_df = stations_dropped_duplicates_df
stations_df.head(30)

,id,name,lat,lon,first,last,rides
111,1,18 Dorrance Warehouse,42.387151,-71.075978,2015-03-01,2019-07-31,578
378,378,191 Beacon St,42.380323,-71.108786,2018-12-06,2019-07-31,3237
263,330,30 Dane St.,42.381001,-71.104025,2018-10-12,2019-07-31,5323
425,M32026,359 Broadway - Broadway at Fayette Street,42.370803,-71.104412,2013-12-31,2019-07-31,61378
266,333,699 Mt Auburn St,42.375002,-71.148716,2018-08-01,2019-07-31,3257
312,371,700 Huron Ave,42.380788,-71.154129,2018-11-07,2019-07-31,1073
482,398,75 Binney St,42.365507,-71.080138,2019-07-02,2019-07-31,749
261,319,84 Cambridgepark Dr,42.393600,-71.143941,2018-10-18,2019-07-31,826
335,A32002,Agganis Arena - 925 Comm Ave.,42.351692,-71.119035,2011-11-30,2019-07-31,73214
189,214,Airport T Stop - Bremen St at Brooks St,42.375339,-71.031304,2016-09-01,2019-07-31,3909
456,385,Albany St at E. Brookline St,42.336648,-71.068945,2019-05-01,2019-07-31,1713
178,183,Alewife MBTA at Steel Place,42.395588,-71.142606,2016-09-01,2019-07-31,6265
470,M32033,Alewife Station at Russell Field,42.396105,-71.139459,2014-12-31,2019-07-31,13902
380,A32017,Allston Green District - Commonwealth Ave & Gr...,42.349225,-71.132753,2012-11-20,2019-07-31,40131
282,318,Ames St at Broadway,42.363693,-71.087567,2018-10-25,2019-07-31,7366
381,M32037,Ames St at Main St,42.362500,-71.088220,2012-11-20,2019-07-31,124009
426,C32012,Andrew Station - Dorchester Ave at Humboldt Pl,42.330474,-71.057017,2013-12-31,2019-07-31,18412
316,B32004,Aquarium Station - 200 Atlantic Ave.,42.359912,-71.051430,2011-11-30,2019-07-31,95581
273,339,Archdale Rd at Washington St,42.292666,-71.121195,2018-08-01,2019-07-31,756
242,236,Assembly Square T,42.392233,-71.077466,2018-07-01,2019-07-31,2296
318,A32003,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,2011-11-30,2019-07-31,71272
291,308,BCBS Hingham,42.167226,-70.905558,2018-10-29,2019-07-31,341
289,317,BCBS Quincy,42.276005,-71.039250,2018-10-29,2019-07-31,174
430,B32020,BIDMC - Brookline at Burlington St,42.345733,-71.100694,2013-12-31,2019-07-31,22101
319,C32003,Back Bay / South End Station,42.348074,-71.076570,2011-11-30,2019-07-31,131050
382,S32007,Ball Sq,42.400146,-71.112708,2012-11-20,2019-07-31,1638
302,360,Bartlett St at John Elliot Sq,42.329463,-71.090158,2018-10-31,2019-07-31,790
320,B32016,Beacon St / Mass Ave,42.350827,-71.089811,2011-11-30,2019-07-31,140788
384,S32003,Beacon St at Washington / Kirkland,42.378420,-71.105668,2012-11-20,2019-07-31,44582
314,373,Belgrade Ave at Walworth St,42.286346,-71.136721,2018-11-11,2019-07-31,250

In [118]:
# Save the data to CSV
save_to_csvfilename = directory + 'stations.csv'
stations_df.to_csv(save_to_csvfilename)
print('wrote data to ', save_to_csvfilename)

wrote data to  ../data/boston-bike/stations.csv

In [120]:
# Save the data to JSON that will be used in web app
import json

stations = []
for index, row in stations_df.iterrows():
    # Transform the date
    date = row[5]
    
    stations.append({
        ID: str(row[ID]),
        NAME: row[NAME],
        LAT: row[LAT],
        LON: row[LON],
        FIRST: transform_date(row[FIRST]),
        LAST: transform_date(row[LAST]),
    })

json = json.dumps(stations)

save_to_jsonfilename = directory + 'stations.json'
with open(save_to_jsonfilename, 'w') as f:
    f.write(json)
print("Data written to stations.json")

Data written to stations.json

In [69]:
stations_df.head()

,id,name,lat,lon,first,last,rides
111,1,18 Dorrance Warehouse,42.387151,-71.075978,2015-03-01,2019-07-31,578
378,378,191 Beacon St,42.380323,-71.108786,2018-12-06,2019-07-31,3237
263,330,30 Dane St.,42.381001,-71.104025,2018-10-23,2019-07-31,5153
259,286,30 Dane St. (former),42.381123,-71.104100,2018-10-12,2018-10-31,170
425,M32026,359 Broadway - Broadway at Fayette Street,42.370803,-71.104412,2013-12-31,2014-07-01,13424